//breakpoints variables
$breakpoint-4k: 2560px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobilelarge: 430px;
$breakpoint-mobilesmall: 320px;
$breakpoint-mobileMedium: 375px;

